[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rmweather"]
	path = rmweather
	url = https://github.com/skgrange/rmweather
[submodule "saqgetr"]
	path = saqgetr
	url = https://github.com/skgrange/saqgetr
